body {
  font-family: sans-serif;
  font-size: 20px;
  background: #336699;
  margin-bottom: 0px;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

h1 {
  font-size: 3em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.task {
  color: white;
  margin-left: 20px;
  display: block;
}

.input-box, .upvote, .downvote {
  background-color: #a6c3d8;
  color: #21545e;
  padding: 4px 7px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  font-family: Chalkboard;
  margin-top: 4px;
  cursor: pointer;
}

.myButton:hover {background-color: #5c81bc}

.myButton:active {
  background-color: #506e9e;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}