body {
  font-family: sans-serif;
  font-size: 20px;
  background: #336699;
  margin-bottom: 0px;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

h1 {
  font-size: 3em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

textarea {
  font: 1em sans-serif;
  border: 2px, solid;
  vertical-align: top;
  min-height:300px;
  min-width:600px;
}

textarea:focus{
  border-color: #367ced;
}



